{
    "env": {
        "browser": true,
        "es2021": true
    },
    "plugins": [
        "react",
        "react-hooks",
        "prettier"
    ],
    "extends": [
        "airbnb",
        "airbnb-typescript",
        "plugin:react-hooks/recommended",
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "rules": {
        "prettier/prettier": 2,
        "import/prefer-default-export": "off",
        "react/function-component-definition": "off",
        "react/jsx-props-no-spreading": "off",
        "consistent-return": "off",
        "react/no-unused-prop-types": ["warn"]
    }
}
